---
layout: default
---

<div class="uk-section">
  <div class="uk-container">
    <div class="uk-grid-large" data-uk-grid>

      <!-- Metro Sidebar Menu -->
      <div class="sidebar-fixed-width uk-visible@m">
        <div class="sidebar-docs uk-position-fixed uk-margin-top">
          {% for state in site.data.navigation_states %}
          <h5>{{ state.state }}</h5>
          <ul class="uk-nav uk-nav-default doc-nav">
          {% for city in state.cities %}
            {% assign city_param = city.city | prepend:"?city=" %}
            {% assign metro_param = city.metro | prepend:"&metro=" %}
            <li><a href="/estate-planning-attorneys/{{ city_param }}{{ metro_param }}" class="metro-link">{{ city.city }}</a></li>
          {% endfor %}
          </ul>
          {% endfor %}
        </div>
      </div>

      <!-- Main Content Section -->
      <div class="uk-width-1-1 uk-width-expand@m">
        <article class="uk-article">
          <!-- Attorney Listings -->
          <div id="attorney-data">
            <h1 class="uk-article-title">Estate Planning Attorneys Near You</h1>

            <p class="uk-text-lead uk-text-muted">Find the Top Estate Planning Attorneys in Your City or Metropolitan Area</p>

            <div class="article-content link-primary">
              <p style="margin-top: 2rem;">Select a city and find the perfect estate planning attorney for your needs. You can view each attorney's profile, review their areas of exerpertise, and even reach out via phone, email, and/or their website.</p>
              <div id="start-search-desktop">
                <span data-uk-icon="icon: arrow-left; ratio: 3" style="color: #ff7761;"></span><h3 style="display: inline;">Start Your Estate Attorney Search</h3>
              </div>
              <div id="start-search-mobile">
                <a class="uk-button uk-button-primary-outline" href="#offcanvas-docs" data-uk-toggle>Start Your Estate Attorney Search</a>
              </div>
            </div>
          </div>
          <hr class="uk-margin-medium">
        </article>

      </div>

    </div>
  </div>
