---
layout: default
---

<div class="uk-section">
  <div class="uk-container">
    <div class="uk-grid-large" data-uk-grid>

      <!-- Metro Sidebar Menu -->
      <div class="sidebar-fixed-width uk-visible@m">
        <div class="sidebar-docs uk-position-fixed uk-margin-top">
          {% for state in site.data.navigation_states %}
          <h5>{{ state.state }}</h5>
          <ul class="uk-nav uk-nav-default doc-nav">
          {% for metro in state.metros %}
            {% assign metro_url = metro.metro | prepend:"/estate-planning-attorneys/?metro=" %}
            <li><a href="{{ metro_url }}" class="metro-link">{{ metro.metro }}</a></li>
          {% endfor %}
          </ul>
          {% endfor %}
        </div>
      </div>

      <!-- Main Content Section -->
      <div class="uk-width-1-1 uk-width-expand@m">
        <article class="uk-article">
          <!-- Attorney Listings -->
          <div id="attorney-data">
            <h1 class="uk-article-title">Estate Planning Attorneys Near You</h1>

            <p class="uk-text-lead uk-text-muted">Find the Top Estate Planning Attorneys in Your Area</p>

            <div class="article-content link-primary">
              <p style="margin-top: 2rem;">Select a major metroplitan area to the left and find the perfect estate planning attorney for your needs. You can view each attorney's profile, review their areas of exerpertise, and even reach out via phone, email, and/or their website.</p>
              <span data-uk-icon="icon: arrow-left; ratio: 3" style="color: #05c896;"></span><h3 style="display: inline;">Start Your Estate Attorney Search</h3>
            </div>
          </div>
          <hr class="uk-margin-medium">
        </article>

      </div>

    </div>
  </div>
