/*== Attorney Listings ==*/

/* Featured Attorney Listings Styles */

.featured-listing {

  .uk-card, .uk-card-default, .uk-card-body {
    border: 2px solid $global-primary-background;

    &:hover {
      background-color: $global-primary-background;

      address > p {
        color: #fff;
      }

      img {
        border: 2px solid #fff;
      }

    }

    address {

      .uk-text-lead {
        margin-bottom: 1rem;
      }

      .street, .city-zip {
        margin: 0;
      }

    }

  }

  img {
    max-width: 100px;
    border: 2px solid $global-primary-background;
    padding: 2px;
  }

  span {
    color: $global-color;
  }

}

/* Standard Attorney Listings Styles */

.standard-listing {
  width: 25% !important;
  margin-bottom: 2rem;
  padding: 0;
}


/*== Attorney Profiles ==*/

/* Featured Attorney Profile Styles */

#featured-label {
  color: darkorange;
}

.featured-profile {

  #profile-card {
    display: flex;
    align-items: flex-end;

    #left, #right {
      width: 50%;
    }

  }

  .uk-card, .uk-card-default, .uk-card-body {
    background-color: $global-primary-background;
    color: $global-color;

    &:hover {
      background-color: $global-primary-background;
    }

    address {

      p {
        margin: 0.25rem 0;
        font-size: 1.15rem;

        &.name {
          font-weight: bold;
        }

      }

    }

    a {

      &.uk-button.uk-button-success {
        margin: 0.65rem 0.65rem 0.65rem 0;
      }

      > span {
        margin-right: 0.5rem;
      }

    }

  }

  img {
    max-width: 150px;

    &.uk-border-circle {
      border: 2px solid darkorange;
      padding: 2px;
    }

  }

}

/* Practice Contact Info Styles (_includes/practice-contact.js) */

#practice-contact {
  display: flex;
  justify-content: space-between;

  form, iframe {
    flex: 0 1 auto;
  }

  form {
    width: 40%;
  }

  iframe {
    width: 55%;
  }

}

/*== Media Queries ==*/

@media (max-width: 640px) {

  .featured-profile {

    #profile-card {
      flex-direction: column;

      #left, #right {
        width: 100%;
      }

    }

  }

  #practice-contact {

    form, iframe {
      width: 100%;
    }

    iframe {
      height: 400px;
      margin-top: 2rem;
    }

  }

}
